/* GENERAL RULES*/
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body{
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient( to bottom, #00bfa5 0%, #00bfa5 20%, #d4dbd9 20%, #d4dbd9 100% );
  overflow: hidden;
}
/* MAIN CONTAINER */
#app{
  width:90%;
  height:90%;
  background: #fff;
  display:flex;
}
/* CONTACTLIST ASIDE,SEARCHBAR,USER PROFILE */
aside{
  width:35%;
  display: flex;
  flex-direction: column;
}

#userinfo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

#userinfo img{
  max-width: 40px;
  border-radius: 50%;
  margin: 5px;
}

#userinfo h4{
  flex-grow: 1;
  margin-left: 10px;
}

#userinfo i {
  font-size: 20px;
  margin-right: 20px;
  color:#999;
}

#alarmbanner{
  height:70px;
  background-color: #9de1fe;
  display: flex;
  align-items: center;
}

#desktopnotification{
  font-size: 12px;
  color: #41619d;
}

#alarmbanner i{
  padding: 10px 9px;
  font-size: 18px;
  background: #fff;
  border-radius: 50%;
  color: #9de1fe;
  margin: 0 10px;
}

#searchbar{
  display: flex;
  justify-content: center;
  height: 35px;
  background: #ededed;
  border-bottom: 1px solid #e1e1e1;
}

#searchbar div{
  display:flex;
  width: 97%;
  height: 85%;
  margin: auto;
  background: #fff;
  color: #e1e1e1;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 5px;
  align-items: center;
}

#searchbar input{
  line-height: 20px;
  width:60%;
  color: darkgrey;
  border: none;
  outline: none;
}

#contactlist{
  flex-grow: 1;
  overflow: auto;
  overflow-x:hidden;
}

.activecontact{
  background-color: #ededed;
}

#contactlist ul li{
  display: flex;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  list-style: none;
  position: relative;
}

#contactlist img{
  max-width:50px;
  border-radius: 50%;
  margin:5px;
}

/* CHAT CONTAINER HEADER WITH CONTACT INFOS,MESSAGES CONTAINER,FOOTER INPUT CONTAINER */
main{
  display: flex;
  flex-direction: column;
  background-color: blue;
  flex-grow: 1;
  max-width: 65%;
}

main header{
  min-height:60px;
  background-color: #ededed;
  display: flex;
  align-items: center;
}

header img{
  max-width: 50px;
  border-radius: 50%;
}

#chatinfos{
  flex-grow: 1;
}

#chatinfos p{
  font-size: 12px;
  color:#919191;
}

header i {
  color:#919191;
  font-size: 18px;
  margin: 20px;
}

main section{
  padding:20px;
  flex-grow: 2;
  background-image: url(../assets/mine.jpg);
  background-position: center;
  overflow: auto;
  max-height: calc(100vh - 100px );
}

main section div{
  padding:5px;
}

.sent{
  width:100%;
  display:flex;
  justify-content:flex-end;
}

.received{
  width:100%;
  display: flex;
  justify-content: flex-start;
}

.received div , .sent div{
  min-width: 30%;
  max-width:80%;
  padding:10px 30px 20px 10px;;
  border-radius: 10px;
  margin:10px;
}

.received div {
  background-color: #fff;
  position: relative;
  padding-right: 30px;
}

.sent div{
  position: relative;
  background-color: #dcf8c6;
  padding-right: 30px;
}

/* DROPDOWN */
.dropdownarrow{
  display: none;
  margin:0;
  padding:0;
  font-size: 14px;
}

.dropdown{
  position:absolute;
  background-color: #ededed;
  padding: 10px;
  z-index: 5;
  list-style: none;
  display: none;
}

.dropdown:hover{
  text-decoration: underline;
  cursor: pointer;
}

.received div:hover .dropdownarrow, .sent div:hover .dropdownarrow{
  display: inline-block;
}
/* NEW MESSAGES SECTION */
main footer{
  background-color: #ededed;
  height:50px;
  display: flex;
  align-items: center;
  position: relative;
}

footer input{
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
  line-height: 30px;
  color: #b7b7b7;
  min-height: 80%;
}

/* FONT AWESOME STYLES */
i{
  color:#919191;
  font-size: 18px;
  margin: 20px;
  cursor:pointer;
}
/* LITTLE ARROW ASIDE MESSAGES */
.received div::before{
  content:'';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  bottom: 15px;
  left: -5px;
  transform: rotate(45deg);
}

.sent div::before{
  content:'';
  position: absolute;
  width: 10px;
  height: 10px;
  background:#dcf8c6;
  bottom: 15px;
  right:-5px ;
  transform: rotate(45deg);
}

.timeinfos{
  position:absolute;
  right:12px;
  top:3px;
  font-size: 9px;
  color:#919191;
}

.textpreview{
  position:absolute;
  bottom:3px;
  font-size: 12px;
  left:65px;
  color:#919191;
}

.chatdata{
  position:absolute;
  bottom:3px;
  right:5px;
  font-size: 9px;
  color:#919191;
}

.display{
  display: block;
}

/*EMOTICON CONTAINER*/
#emojicontainer{
  position: absolute;
  top: -220px;
  left: 10px;
  max-width: 153px;
  border: solid 1px #fff;
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
}

#emojicontainer button{
  margin: 0;
  border: none;
  padding: 0;
  background: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20%;
}

#emojicontainer button:hover{
  background-color: #919191;
}
/* NEW CHAT WIDGET */
#newchat{
  left:70%;
  bottom:10px;
  cursor:pointer;
  position:sticky;
}

/* MEDIA QUERY FOR SMARTPHONE WIDTH */
@media all and (max-width:890px){
  #userinfo h4{
    display:none;
  }
}


@media all and (max-width:500px){
  #userinfo img{
    max-width: 10%;
  }
  #alarmbanner{
    display: none;
  }
  #chatinfos p{
    font-size: 8px;
  }
  .timeinfos{
    display: none;
  }
  #userinfo{
    justify-content: space-around;
    width:100%;
  }
  #userinfo i{
    font-size: 15px;
    margin:0;
  }
  #userinfo img{
    display:none;
  }
  aside{
    width:30%;
  }
  main{
    min-width:70%;
  }
  #app{
    width:100%;
    min-height: -webkit-fill-available;
  }
  body{
    max-height: 100%;
  }
  .textpreview{
    display: none;
  }
  #contactlist img{
    max-width: 20%;
  }
  #contactlist ul li{
    min-height:50px;
  }
}
